---
import type { CollectionEntry } from 'astro:content'
import Article from './article/article.astro'
import ArticleDate from '~/components/article/date.astro'
import ArticleTags from '~/components/article/tags.astro'
import { getExcerpt } from '~/utils/excerpt'
import { render } from '~/utils/render'

interface Props {
  posts: Array<CollectionEntry<'posts'>>
}

const { posts } = Astro.props
---

<div class='grid gap-y-4'>
  {
    posts.map((post) => (
      <Article title={post.data.title} link={`/posts/${post.slug}`} type='card'>
        <ArticleDate date={post.data.date} link={`/posts/${post.slug}`} />
        <Fragment set:html={render(getExcerpt(post.body)!)} />
        <ArticleTags tags={post.data.tags} />
      </Article>
    ))
  }
</div>
